/* color palette from <https://github.com/vuejs/theme> */
@font-face {
  font-family: "Beauty sans";
  src: url("fonts/Beautyofthebeast-1VpM.ttf");
}

@font-face {
  font-family: "Lora sans";
  src: url("./fonts/Lora/Lora-VariableFont_wght.ttf");
}
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --rose: #a377e8;
  --rose-light: #f3eaff;
  --rose-extra-light: #F3EAFFFF;
  --rose-dark: #7e5bb7;
  --rose-darken: #2a016c;

  /**
    Melissa Colors
     */
  --color-dark-blue: #111827;
  --color-middle-purple: #754e9e;
  --color-middle-purple-light: #baa7fb;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-white);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
}
}

.glow-red {
  color: #fff;
}

@-webkit-keyframes glow-red {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.glow {
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffd800, 0 0 40px #ffd800, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ffd800, 0 0 40px #ffd800, 0 0 50px #ffd800, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  /*min-height: 100vh;*/
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
          Inter,
          -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          'Fira Sans',
          'Droid Sans',
          'Helvetica Neue',
          sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vue-notification-wrapper {
  margin-top: 10px !important;
}

.text-gold {
  color: #d3ab67;

  &:hover {
    color: #a67004;
  }
}


.text-rose {
  color: var(--rose);
}

.text-rose-light {
  color: var(--rose-light);
}

.text-rose-dark {
  color: var(--rose-dark);
}

.text-rose-darken {
  color: var(--rose-darken);
}

.text-dark-blue {
  color: var(--color-dark-blue);
}

.text-purple-middle {
  color: var(--color-middle-purple);
}

